# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Data (trop volumineux pour git)
data/raw/
data/processed/
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.mp4
*.avi

# Modeles entraines
*.pt
*.pth
*.onnx
*.engine
*.safetensors
weights/
models/checkpoints/

# MLflow
mlruns/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
